{{ define "contact" }}
<section class="container mx-auto px-6 py-12">
    <h3>
        <div>
            <span>G</span>
            <span>e</span>
            <span>t</span>
            <span> </span>
            <span>i</span>
            <span>n</span>
            <span> </span>
            <span>t</span>
            <span>o</span>
            <span>u</span>
            <span>c</span>
            <span>h</span>
        </div>
    </h3>
    <p>This is the contact section</p>
</section>

{{ end }}