{{ define "projects" }}
<section class="container mx-auto px-6 py-12">
    <span class="rounded-full px-2.5 py-0.5 text-gray-400 uppercase text-xs font-semibold bg-gray-200 border border-gray-400">projects</span>
    <h3>
        <div class="hack-effect text-xl font-bold">
            <span>C</span><span>h</span><span>e</span><span>c</span><span>k</span><span> </span><span>o</span><span>u</span><span>t</span><span> </span><span>m</span><span>y</span><span> </span><span>w</span><span>o</span><span>r</span><span>k</span>
        </div>
    </h3>
    <p>This is the projects section</p>
</section>

{{ end }}