{{ define "partials/skills" }}
<section class="container mx-auto px-6 py-12">
    <span class="rounded-full px-2.5 py-0.5 text-gray-400 uppercase text-xs font-semibold bg-gray-200 border border-gray-400">skills</span>
    <h3>
        <div class="hack-effect text-xl font-bold">
            <span>T</span><span>e</span><span>c</span><span>h</span><span> </span><span>I</span><span> </span><span>h</span><span>a</span><span>v</span><span>e</span><span> </span><span>e</span><span>x</span><span>p</span><span>e</span><span>r</span><span>i</span><span>e</span><span>n</span><span>c</span><span>e</span><span> </span><span>w</span><span>i</span><span>t</span><span>h</span>
        </div>
    </h3>
    <div class="flex flex-wrap sm:flex-wrap md:flex-wrap lg:flex-wrap items-center gap-2">
        <!-- Programming Languages -->
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Python</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Javascript</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Typescript</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Golang</span>
        <!-- Frameworks -->
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Django</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Flask</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">FastAPI</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">React</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">NextJS</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">NodeJS</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Astro</span>

        <!-- Tools-->
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Git</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Docker</span>
        <!-- Databases -->
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">SQL|NoSQL</span>
        <!-- Ui specific -->
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Tailwind</span>


    </div>
</section>
{{ end }}