{{ define "skills" }}
<section class="container mx-auto px-6 py-12">
    <h3>
        <div>
            <span>S</span>
            <span>k</span>
            <span>i</span>
            <span>l</span>
            <span>l</span>
            <span>s</span>
        </div>
    </h3>
    <div class="flex flex-wrap sm:flex-nowrap items-center gap-2">
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Python</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Javascript</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Typescript</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Golang</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">SQL|NoSQL</span>
        <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">Docker</span>
    </div>
</section>
{{ end }}