{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Damon Diaz Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        {% block extrastyles %}{% endblock %}
    </head>
    <body>
        <!-- {% include 'core/header.html' %} -->
        <canvas></canvas>
        <main>
        {% block content %}{% endblock %}
        </main>

        {% include 'core/footer.html' %}
        
        {% block extrajs %}{% endblock %}
        
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
