---
import { marked } from 'marked';
import siteConfig from '../data/site-config';

const about = siteConfig.about;
---

{
    (about && about.length > 0) && (
        <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
            <h2 class="text-center text-2xl leading-tight font-serif font-medium sm:text-3xl sm:leading-tight">Get to Know Me</h2>
            <ul class="text-center">
                {about.map((item) => (
                    <li class="max-w-none prose prose-dante sm:prose-lg" set:html={marked.parse(item)} />
                ))}
            </ul>
        </section>
    )
}
