---
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const cta = siteConfig.ctaLinks;

const { class: className } = Astro.props;
---

{
    cta?.coffee?.href && (
        <section class:list={[
            'px-8 py-12 flex flex-col items-center border border-dashed border-main text-center sm:px-12 sm:py-16',
            'hover:border-solid transition-all duration-300',
            className
        ]}>
            {cta.coffee.title && (
                <h2 class:list={[
                    'w-full max-w-xl text-2xl leading-tight font-mono font-medium sm:text-4xl',
                    cta.coffee.text ? 'mb-4' : 'mb-8'
                ]}>
                    {cta.coffee.title}
                </h2>
            )}
            {cta.coffee.description && 
                <p class="w-full max-w-xl mb-8 text-sm leading-normal font-mono">{cta.coffee.description}</p>
            }
            <Button href={cta.coffee.href} class="w-full h-9 sm:w-auto hover:scale-105 transition-transform">
                {cta.coffee.text}
            </Button>
        </section>
    )
}
