---
import { marked } from 'marked';
import siteConfig from '../data/site-config';

const skills = siteConfig.skills;
---

{
    (skills && skills.length > 0) && (
        <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
            <h2 class="text-center text-2xl leading-tight font-serif font-medium sm:text-3xl sm:leading-tight">Skills</h2>
            <ul class="text-center flex flex-wrap gap-2">
                {skills.map((skill) => (
                    <span class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black dark:bg-white dark:text-black">
                        {skill}
                    </span>
                ))}
            </ul>
        </section>
    )
}