<div class="hx-rounded-xl hx-p-12 hx-shadow-lg hx-text-center hx-max-w-2xl hx-mx-4 hx-px-4 hx-my-8 hx-border hx-mt-8">
    <h2 class="hx-text-2xl hx-font-bold hx-mt-4 hx-mb-4 hx-flex hx-items-center hx-justify-center hx-gap-2">
        <span>❤️</span>Love my content?
    </h2>
    <p class=" hx-mb-4 hx-text-lg">
        If you've learned something from my content or found it helpful, consider fueling my work with a cup of coffee!
        Your support means the world to me!
    </p>
    <a href="https://www.buymeacoffee.com/damondiaz" 
        target="_blank" 
        rel="noopener noreferrer"
        class="hx-inline-flex hx-items-center hx-gap-2 hx-font-bold hx-py-3 hx-px-6 hx-rounded-lg hx-shadow-md hx-transition-all hover:hx-transform hover:hx-scale-105"
    >
        Buy me a coffee
    </a>
    <p class="hx-text-md hx-mt-4 hx-mb-4">Thank you for being awesome! 🙌</p>
</div>

